apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: trondelagfylke-no

resources:
  - ../../../base

labels:
  - pairs:
      app.kubernetes.io/instance: fint-flyt-vigo-gateway_trondelagfylke_no
      fintlabs.no/org-id: trondelagfylke.no

patches:
  - patch: |-
      - op: replace
        path: "/spec/kafka/acls/0/topic"
        value: "trondelagfylke-no.flyt.*"
      - op: replace
        path: "/spec/orgId"
        value: "trondelagfylke.no"
      - op: add
        path: "/spec/url/basePath"
        value: "/beta/trondelagfylke-no"
      - op: replace
        path: "/spec/ingress/basePath"
        value: "/beta/trondelagfylke-no/api/vigo"
      - op: add
        path: "/spec/env/-"
        value:
          name: "logging.level.no.fintlabs.instance.gateway"
          value: "DEBUG"
      - op: replace
        path: "/spec/probes/readiness/path"
        value: "/beta/trondelagfylke-no/actuator/health"
    target:
      kind: Application
      name: fint-flyt-vigo-gateway

